.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.808);
  max-width: fit-content;
  text-align: center;
  border-radius: 12px;
  border: 5px solid navy;
}

.cardImg {
  max-width: 20vw;
}

.cardHeading {
  font-weight: 600;
  font-size: 1.7rem;
}
